html,
body {
  height: 100%;
}

.wide {
  width: 500px !important;
}

.inner-container {
  margin: 60px 0 40px 0;
}

.main-container {
  margin: 40px 0 40px;
}

.reg-link {
  text-decoration: none;
  color: #000;
}

.reg-link:hover {
  text-decoration: none;
  color: #d46e68;
}

.border-pink {
  border-color: #d46e68;
}

.text-pink,
.nav-link:hover {
  color: #d46e68;
}

.bg-pink,
a.active {
  background: #d46e68 !important;
}

button {
  padding: 8px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #faaca8;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.8);
}

.form-button {
  margin: 20px 0 40px 0;
}

.btn-white {
  background: #fff;
  color: #faaca8;
  border: 1px solid #faaca8;
}
